* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --black:#191b1d;
    --dark-gray:#22262c;
    --pink:#bc1e4a;
}

body {
    background-color: var(--black);
    max-width: 90%;
    margin: 0 auto;
    color: white;
}

.title {
    text-align: center;
    margin: 60px 0;
}

.price-card {
    background-color: var(--dark-gray);
    border-radius: 5px;
    padding: 30px 40px;
    text-align: center;
}

#pricing {
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}

.card-header {
    font-size: 18px;
    margin: 20px 0 15px 0;
    text-align: center;
}

.card-price {
    font-size: 44px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}

.monthly > span {
    margin-right: 5px;
}

.monthly {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

/* change color of list bullets to match site */
ul {
    list-style: none; /* Remove default bullets */
    margin-bottom: 60px;
    margin-left: 40px;
    text-align:left;
    font-size: 14px;
    height: 175px;
  }

li {
    margin-bottom: 5px;
    margin: left 1rem;
}
  
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--pink); /* Change the color */
    font-size: 24px; /* Change font size */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.price-btn {
    border: 1px solid var(--pink);
    padding: 12px;
    border-radius: 3px;
    width: 200px;
    background-color: inherit;
    color: white;
}

.price-btn.current{
    background-color: var(--pink);
}

/* creates mobile stacking look for phone screens */
@media only screen and (max-width: 500px) {
    #pricing {
    grid-template-columns: 1fr;
    gap: 10px
  }
}

.banner {
    background-color: var(--pink);
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 10px;
    width: 370px;
    margin-left: 310px;
    position: center;
}

.banner-text_light {
    font-size: 14px;
    font-weight: 200;
    margin-top: 5px;
    opacity: 0.7;
    
}